https://www.djangoproject.com/download/1.7c1/tarball/
django-celery
python-memcached
tweepy
markdown
ujson
python-dateutil
django-pipeline
slimit
django-nose
requests
django-cache-utils
django-instant-coverage>=0.0.12
pillow
musicbrainzngs
django-orphaned
django-debug-toolbar
ndg-httpsclient
pyasn1
