Django>=1.7<1.8
django-celery
python-memcached
tweepy
markdown
ujson
python-dateutil
django-pipeline
slimit
django-nose
requests
django-cache-utils
git+https://github.com/colons/instant-coverage.git@develop
# django-instant-coverage>=0.0.12
pillow
musicbrainzngs
django-orphaned
django-debug-toolbar
ndg-httpsclient
pyasn1
